<div class="col-md-9 d-none d-md-block">
    <!-- Header Middle Menu Start -->
    <div class="middle-menu">
        <nav>
            <ul class="middle-menu-list">
                <li><a asp-active-route="home" asp-controller="home" asp-action="index">home</a></li>
                <li><a asp-active-route="about" asp-controller="about" asp-action="index">about us</a></li>
                <li><a asp-active-route="contact" asp-controller="contact" asp-action="index">contact us</a></li>
                <li>
                    <a asp-active-route="blog" asp-controller="blog" asp-action="index">
                        blog
                    </a>
                  
                </li>
             
                <li>
                    <a asp-active-route="shop" asp-controller="shop" asp-action="index">
                        shop
                    </a>
                   
                </li>
            </ul>
        </nav>
    </div>
   
</div>