
      <!-- Breadcrumb Start -->
      <div class="breadcrumb-area ptb-50">
        <div class="container">
          <div class="breadcrumb">
            <ul>
              <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li asp-active-route="shop"><a asp-controller="shop" asp-action="index">Shop</a></li>
            </ul>
          </div>
        </div>
        <!-- Container End -->
      </div>
      <!-- Breadcrumb End -->


      <!-- Shop Page Start -->
      <div class="main-shop-page">
        <div class="container">
          <!-- Row End -->
          <div class="row">
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 col-lg-push-3 col-md-9 col-md-push-3">
              <!-- Single Banner Start -->
              <div class="single-banner zoom mb-50">
                <a href="#"
                  ><img src="~/assets/img/banner/13.jpg" alt="slider-banner"
                /></a>
              </div>
              <!-- Single Banner End -->
              <!-- Grid & List View Start -->
              <div
                class="grid-list-top border-default universal-padding fix mb-30"
              >
                <div class="grid-list-view f-left">
                  <ul class="list-inline">
                    <li>
                      <a data-bs-toggle="tab" href="#grid-view"
                        ><i class="fa fa-th"></i
                      ></a>
                    </li>
                    <li class="active">
                      <a data-bs-toggle="tab" href="#list-view"
                        ><i class="fa fa-list-ul"></i
                      ></a>
                    </li>
                    <li>
                      <span class="grid-item-list"> Items 1-12 of 13</span>
                    </li>
                  </ul>
                </div>
                <!-- Toolbar Short Area Start -->
                <div class="main-toolbar-sorter f-right">
                  <div class="toolbar-sorter">
                    <label>sort by</label>
                    <select class="sorter" name="sorter">
                      <option value="Position" selected="selected">
                        position
                      </option>
                      <option value="Product Name">Product Name</option>
                      <option value="Price">Price</option>
                    </select>
                    <span
                      ><a href="#"><i class="fa fa-arrow-up"></i></a
                    ></span>
                  </div>
                </div>
                <!-- Toolbar Short Area End -->
              </div>
              <!-- Grid & List View End -->
              <div class="main-categorie">
                <!-- Grid & List Main Area End -->
                <div class="tab-content border-default fix">
                  <div id="grid-view" class="tab-pane fade">
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/2.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/11.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Wayfarer Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$30.00</span
                          ><del class="prev-price">$32.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/7.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/6.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Overnight Duffle</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$40.00</span></p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-new">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/10.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/8.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Driven Backpack</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$48.00</span></p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/9.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/15.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Endeavor Daytrip Backpack</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$30.00</span
                          ><del class="prev-price">$33.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-new">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/12.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/13.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Impulse Duffle</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$90.00</span></p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-new">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/1.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/8.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Voyage Yoga Bag</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$30.00</span
                          ><del class="prev-price">$32.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/2.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/11.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Driven Backpack</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$50.00</span
                          ><del class="prev-price">$56.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/7.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/6.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Push It Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$60.00</span
                          ><del class="prev-price">$72.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-sale">OFF-22%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/10.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/8.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Push It Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$50.00</span></p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/9.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/15.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Endeavor Daytrip Backpack</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$72.00</span
                          ><del class="prev-price">$78.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/12.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/13.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Impulse Duffle</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$48.00</span></p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-sale">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/1.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/8.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Voyage Yoga Bag</a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$80.00</span
                          ><del class="prev-price">$72.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/2.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/11.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Wayfarer Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$60.00</span
                          ><del class="prev-price">$70.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/7.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/6.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Push It Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$44.00</span
                          ><del class="prev-price">$38.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-new">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/2.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/11.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Wayfarer Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$55.00</span
                          ><del class="prev-price">$46.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/7.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/6.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Push It Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$45.00</span
                          ><del class="prev-price">$38.00</del>
                        </p>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                  </div>
                  <!-- #grid view End -->
                  <div id="list-view" class="tab-pane fade show active">
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/20.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/21.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4><a href="product.html">Overnight Duffle </a></h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="price">$45.00</span></p>
                        <p>
                          For long weekends away, camping outings and business
                          trips, the Overnight Duffle can't be beat. The dual
                          handles make it a cinch to carry, while the durable
                          waterproof exterior helps you worry less about the
                          weather. With multiple organizational pockets inside
                          and out, it's the perfect travel companion.
                        </p>
                        <a class="learn-more" href="product.html">learn more</a>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/19.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/22.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Teton Pullover Hoodie </a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$100.00</span
                          ><del class="prev-price">$120.00</del>
                        </p>
                        <p>
                          his Teton Pullover Hoodie gives you more than
                          laid-back style. It's equipped with moisture-wicking
                          fabric to keep light and dry inside, especially in
                          chilly-weather workouts. An elasticized hem lets you
                          move about freely.
                        </p>
                        <a class="learn-more" href="product.html">learn more</a>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/15.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/8.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Endeavor Daytrip Backpack </a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$30.00</span
                          ><del class="prev-price">$32.00</del>
                        </p>
                        <p>
                          School books, camp gear and yoga clothes get along
                          just fine in the all-purpose Driven Backpack. Crafted
                          with tough polyester ripstop fabric, it's outfitted
                          with rubberized end panels and padded, adjustable
                          shoulder straps. The roomy main compartment features
                          molded foam pockets that host everything you need.
                        </p>
                        <a class="learn-more" href="product.html">learn more</a>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                    </div>
                    <!-- Single Product End -->
                    <!-- Single Product Start -->
                    <div class="single-product">
                      <!-- Product Image Start -->
                      <div class="pro-img">
                        <a href="product.html">
                          <img
                            class="primary-img"
                            src="~/assets/img/products/23.jpg"
                            alt="single-product"
                          />
                          <img
                            class="secondary-img"
                            src="~/assets/img/products/16.jpg"
                            alt="single-product"
                          />
                        </a>
                      </div>
                      <!-- Product Image End -->
                      <!-- Product Content Start -->
                      <div class="pro-content">
                        <h4>
                          <a href="product.html">Push It Messenger Bag</a>
                        </h4>
                        <div class="product-rating">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <p>
                          <span class="price">$30.00</span
                          ><del class="prev-price">$32.00</del>
                        </p>
                        <p>
                          With more room than it appears, the Endeavor Daytrip
                          Backpack will hold a whole day's worth of books,
                          binders and gym clothes. The spacious main compartment
                          includes a dedicated laptop sleeve. Two other
                          compartments offer extra storage space.
                        </p>
                        <a class="learn-more" href="product.html">learn more</a>
                        <div class="pro-actions">
                          <div class="actions-primary">
                            <a
                              href="cart.html"
                              data-bs-toggle="tooltip"
                              title="Add to Cart"
                              >Add To Cart</a
                            >
                          </div>
                          <div class="actions-secondary">
                            <a
                              href="wishlist.html"
                              data-bs-toggle="tooltip"
                              title="Add to Wishlist"
                              ><i class="fa fa-heart-o"></i
                            ></a>
                            <a
                              href="compare.html"
                              data-bs-toggle="tooltip"
                              title="Add to Compare"
                              ><i class="fa fa-signal"></i
                            ></a>
                          </div>
                        </div>
                      </div>
                      <!-- Product Content End -->
                      <span class="sticker-new">OFF-32%</span>
                    </div>
                    <!-- Single Product End -->
                  </div>
                  <!-- #list view End -->
                </div>
                <!-- Grid & List Main Area End -->
              </div>
              <!--Breadcrumb and Page Show Start -->
              <div
                class="breadcrubm-page-show border-default universal-padding mt-30 fix"
              >
                <div class="breadcrumb-list-item f-left">
                  <ul class="list-inline">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li>
                      <a href="#"><i class="fa fa-angle-right"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="page-list f-right">
                  <div class="toolbar-sorter-footer">
                    <label>show</label>
                    <select class="sorter" name="sorter">
                      <option value="Position" selected="selected">12</option>
                      <option value="Product Name">15</option>
                      <option value="Price">30</option>
                    </select>
                    <span>per page</span>
                  </div>
                </div>
              </div>
              <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3 col-lg-pull-9 col-md-3 col-md-pull-9">
              <div class="sidebar white-bg">
                <div class="border-default universal-padding">
                  <div class="group-title">
                    <h2>categories</h2>
                  </div>
                  <ul>
                    <li><a href="#">laptops (9)</a></li>
                    <li><a href="#">monitors(11)</a></li>
                    <li><a href="#">ram / memory (8)</a></li>
                  </ul>
                </div>
                <div class="border-default universal-padding mtb-40">
                  <div class="group-title">
                    <h2>color</h2>
                  </div>
                  <ul class="color-option">
                    <li>
                      <a class="blue" href="#"></a>
                    </li>
                    <li>
                      <a class="green" href="#"></a>
                    </li>
                    <li>
                      <a class="black" href="#"></a>
                    </li>
                    <li>
                      <a class="rose" href="#"></a>
                    </li>
                    <li>
                      <a class="red" href="#"></a>
                    </li>
                    <li>
                      <a class="purple" href="#"></a>
                    </li>
                    <li>
                      <a class="rose" href="#"></a>
                    </li>
                    <li>
                      <a class="yellow" href="#"></a>
                    </li>
                    <li>
                      <a class="orange" href="#"></a>
                    </li>
                  </ul>
                </div>
                <div class="border-default universal-padding">
                  <div class="group-title">
                    <h2>price</h2>
                  </div>
                  <form action="#">
                    <div
                      id="slider-range"
                      class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                    >
                      <div
                        class="ui-slider-range ui-corner-all ui-widget-header"
                        style="left: 0%; width: 100%"
                      ></div>
                      <span
                        tabindex="0"
                        class="ui-slider-handle ui-corner-all ui-state-default"
                        style="left: 0%"
                      ></span
                      ><span
                        tabindex="0"
                        class="ui-slider-handle ui-corner-all ui-state-default"
                        style="left: 100%"
                      ></span>
                    </div>
                    <input id="amount" class="amount" readonly="" type="text" />
                  </form>
                </div>
                <div class="border-default universal-padding mtb-40">
                  <div class="group-title">
                    <h2>manufacturer</h2>
                  </div>
                  <ul class="manufactures-list">
                    <li><a href="#">Brand one (14)</a></li>
                    <li><a href="#">Brand two (13)</a></li>
                    <li><a href="#">Brand three (13)</a></li>
                    <li><a href="#">Brand four (14)</a></li>
                    <li><a href="#">Brand five (13)</a></li>
                  </ul>
                </div>
                <div class="border-default universal-padding">
                  <div class="group-title">
                    <h2>Compare Products</h2>
                  </div>
                  <div
                    class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel"
                  >
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/17.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Set of Sprite Yoga Straps</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p>
                            <span class="price">$38.00</span
                            ><del class="prev-price">$36.00</del>
                          </p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/16.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Strive Shoulder Pack</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p><span class="price">$32.00</span></p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/17.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Set of Sprite Yoga Straps</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p>
                            <span class="price">$38.00</span
                            ><del class="prev-price">$36.00</del>
                          </p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                  </div>
                </div>
                <div class="border-default universal-padding mtb-40">
                  <div class="group-title">
                    <h2>My Wish List</h2>
                  </div>
                  <div
                    class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel"
                  >
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/11.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Push It Messenger Bag</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p>
                            <span class="price">$38.00</span
                            ><del class="prev-price">$36.00</del>
                          </p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/14.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Strive Shoulder Pack</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p><span class="price">$32.00</span></p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                    <!-- Best Seller Multi Product Start -->
                    <div class="best-seller-multi-product">
                      <!-- Single Product Start -->
                      <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                          <a href="product.html">
                            <img
                              class="primary-img"
                              src="~/assets/img/products/17.jpg"
                              alt="single-product"
                            />
                          </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                          <h4>
                            <a href="product.html">Set of Sprite Yoga Straps</a>
                          </h4>
                          <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <p>
                            <span class="price">$38.00</span
                            ><del class="prev-price">$36.00</del>
                          </p>
                        </div>
                        <!-- Product Content End -->
                      </div>
                      <!-- Single Product End -->
                    </div>
                    <!-- Best Seller Multi Product End -->
                  </div>
                </div>
                <!-- Single Banner Start -->
                <div class="single-banner zoom mb-50">
                  <a href="#" class="hidden-sm"
                    ><img src="~/assets/img/banner/8.jpg" alt="slider-banner"
                  /></a>
                  <a href="#" class="visible-sm"
                    ><img src="~/assets/img/banner/6.jpg" alt="slider-banner"
                  /></a>
                </div>
                <!-- Single Banner End -->
              </div>
            </div>
            <!-- Sidebar Shopping Option End -->
          </div>
          <!-- Row End -->
        </div>
        <!-- Container End -->
      </div>
      <!-- Shop Page End -->
      <!-- Categorie Page Brand Banner Start -->
      <div class="container">
        <!-- Brand Banner Start -->
        <div class="brand-banner border-default owl-carousel pt-30 mt-30 mb-50">
          <div class="single-brand">
            <a href="#"
              ><img class="img" src="~/assets/img/brand/1.png" alt="brand-image"
            /></a>
          </div>
          <div class="single-brand">
            <a href="#"
              ><img src="~/assets/img/brand/2.png" alt="brand-image"
            /></a>
          </div>
          <div class="single-brand">
            <a href="#"
              ><img src="~/assets/img/brand/3.png" alt="brand-image"
            /></a>
          </div>
          <div class="single-brand">
            <a href="#"
              ><img src="~/assets/img/brand/4.png" alt="brand-image"
            /></a>
          </div>
          <div class="single-brand">
            <a href="#"
              ><img src="~/assets/img/brand/1.png" alt="brand-image"
            /></a>
          </div>
        </div>
        <!-- Brand Banner End -->
      </div>
      <!-- Categorie Page Brand Banner End -->
      <!-- Signup Newsletter Start -->
      <div class="newsletter">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="main-news-desc">
                <div class="news-desc">
                  <h3>Sign Up For <span>Newsletters</span></h3>
                  <p>
                    Get e-mail updates about our latest shop and special offers.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="newsletter-box">

                <form action="#">
                  <input
                    class="subscribe"
                    placeholder="Enter your email address"
                    name="email"
                    id="subscribe"
                    type="text"
                  />
                  <button type="submit" class="submit">subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Signup-Newsletter End -->